
.error-message {
  color: red;
}
.form-field {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}
.form-field-name {
  margin: 0px 8px;
}

.table-heading {
  background-color: #808080;
}

.button {
  background-color: #808080;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 8px;
}

table, td, th {
  border: 1px solid;
  margin: 16px 8px;
}

table {
  width: 50%;
  border-collapse: collapse;
}
